{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card user-profile-list">
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="user-list-table" class="table nowrap">
                        <thead>
                            <tr> 
                            <th>Sr. No</th>
                            <th>User Name</th>
                                <th>Title</th>
                                <th>From</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in data %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                                <td>{% for user in fewUsers %}
                                   {% if user.to_dict.uid == prop.to_dict.userid %}
                                   {{user.to_dict.name}}
                                   {% endif %}
                                {% endfor %}</td>
                                <td>{{prop.to_dict.title}}</td>
                                <td>{{prop.to_dict.from}}</td>
                               
                                <td>{{prop.to_dict.message}}</td>
                                <td>
                                    <a  href="{% url 'deletenoti' prop.id %}" type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function deleteUser () {
    document.getElementById('userdelete').click()
}
function submitForm () {
    const getForm = document.getElementById('statusform');
    getForm.submit();
    getForm.reset();
}
</script>

{% endblock content %}