{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card user-profile-list">
            <div class="card-body">
                <div class="dt-responsive table-responsive">
                    <table id="user-list-table" class="table nowrap">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Camper Status</th>
                                <th>Email</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prop in data %}
                            
                            <tr>
                                <td>
                                    <div class="d-inline-block align-middle">
                                        <img src="{{prop.to_dict.photo_url}}" alt="user image" class="img-radius align-top m-r-15" style="width:50px;">
                                        <div class="d-inline-block">
                                        </div>
                                    </div>
                                </td>
                                <td><h6 class="m-b-0">{{prop.to_dict.name}}</h6></td>
                                <td><h6 class="m-b-0">{{prop.to_dict.phone}}</h6></td>
                                <td>
                                <form  method="post">
                                    {% csrf_token %}
                                    <select class="js-example-basic-single form-control" name="status" onchange="this.form.submit()">
                                        {% for k,v in activestatus.items %}
                                            {% if v.key == prop.to_dict.uid %}
                                            <option value="">{{v.value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                         
                                        <option value="">No Order</option>
                                        <option value="inproduction">In Production</option>
                                        <option value="intransit">In Transit</option>
                                        <option value="arrivedinbrisbase">Arrived In Brisbase</option>
                                        <option value="buitstart">Built Start</option>
                                        <option value="complete">Complete</option>
                                </select>
                                <input type="text" value="{{prop.to_dict.uid}}" name="userid" hidden>
                                </form>
                                </td>
                                <td>{{prop.to_dict.email}}</td>
                                <td>
                                    <a href="{% url 'deleteuser' prop.to_dict.email %}" type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></a>
                                    {% comment %} <a hidden id="userdelete" href="{% url 'deleteuser' prop.to_dict.email %}" type="submit" class="btn btn-danger sweet-error has-ripple">Delete User<span class="ripple ripple-animate" style="height: 73.3906px; width: 73.3906px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -4.6875px; left: 6.95312px;"></span></a> {% endcomment %}
                                    </div>
                                </td>
                                <td>
                                   <a  href="{% url 'editUser' prop.to_dict.uid %}" type="button" class="btn btn-icon btn-primary"><i class="feather icon-edit"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function deleteUser () {
    document.getElementById('userdelete').click()
}
function submitForm () {
    const getForm = document.getElementById('statusform');
    getForm.submit();
    getForm.reset();
}
</script>

{% endblock content %}